.design-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #1f1f1f;
min-height: 100vh;
padding: 100px 0;
font-family: Jost;
}

.design {
display: flex;
align-items: center;
justify-content: center;
}

.timeline {
width: 80%;
height: auto;
max-width: 800px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.timeline-content {
padding: 20px;
background: #2c1f1f;
-webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
        box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
border-radius: 5px;
color: white;
padding: 1.75rem;
transition: 0.4s ease;
overflow-wrap: break-word !important;
margin: 1rem;
margin-bottom: 20px;
border-radius: 6px;
}

.timeline-body{
    padding-left: 20px;
}
.timeline-note{
    font-size: 0.8em;
}
.timeline-component {
margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
.timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}
.timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
}
.main-middle {
    opacity: 0;
}
.timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
}

.experience-header {
    color: #fff; /* White text */
    width: 80%;
}

.line {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #fff; /* White line */
    padding-bottom: 20px;
    padding-top: 0;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.timeline-content {
    opacity: 0;
}

.timeline-content.animate-left {
    animation: slideInFromLeft 1s forwards;
}

.timeline-content.animate-right {
    animation: slideInFromRight 1s forwards;
}

#experience{
    z-index: 2;
    position: relative;
}
